POSTGRES_USER=benno
POSTGRES_PASSWORD=password
POSTGRES_DB=tsdb
PGADMIN_DEFAULT_EMAIL=example@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SERVER_ROOT_URL=http://my.grafana.server/
GF_PLUGINS_PREINSTALL=grafana-clock-panel

TELEGRAF_POSTGRES_HOST=localhost
TELEGRAF_POSTGRES_PORT=5432
TELEGRAF_POSTGRES_USER=${POSTGRES_USER}
TELEGRAF_POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
TELEGRAF_POSTGRES_DB=${POSTGRES_DB}
